<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashKart | Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/15315/15315520.png">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="{% static 'images/Flashkart_Logo.webp' %}" alt="">
            <h2>FlashKart<sup>TM</sup></h2>
        </div>
        <div class="header-middle">
            
        </div>
        <div class="header-right">
            <img src="https://cdn-icons-png.flaticon.com/128/64/64572.png" alt="">
            <h2>Create a Profile</h2>
        </div>
    </header>
    <div class="title">
        <h2 class="title">
            Register to FlashKart
        </h2>
        <img src="{% static 'images/Flashkart_Logo.webp' %}" alt="">
    </div>
    <form method="post">
        {% csrf_token %}
        {{ user_form }}
        {{ profile_form }}
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
    <footer>
        <p>&copy; 2025 FlashKart</p>
    </footer>
</body>
</html>